<footer id="footer">
    <div class="container">
      <img src="assets/img/jg.png" alt="" width="100px" />
      <p>Desarrollador - Programador - Artista gráfico</p>
      <div class="social-links">
        <a href="https://www.twitter.com/pachomdq" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/pachomdq" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/pachomdq" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/jose-maria-gomez-08a524119" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>José Gómez</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- Template basado en diseño de BoostrapMade -->
      </div>
    </div>
  </footer>