
<div class="section-title">
    <p text-align="center"><i class="fas fa-pen svgFA ok" (click)="edicion(20)"></i> 
        <i class="fas fa-times svgFA borrar" (click)="borrar(id)"></i></p>
    <div class="count-box">
        <img src="{{imagenURL}}" class="img-fluid" alt="">
        <app-inputshow [(texto)]="imagenURL" [editable]="edicionlist[20]" [oculto]=true></app-inputshow>
        <app-inputshow [(texto)]="horas" [editable]="edicionlist[20]" [oculto]=true ></app-inputshow>

        <span [countUp]="coun" [options]="opciones" #counte></span>
        <p>
            <app-inputshow [(texto)]="texto" [editable]="edicionlist[20]" [grande]=true></app-inputshow>
        </p>
    </div>
  </div>
  